export(chibar,
create.XMAT,
hmmm.chibar,
hmmm.mlfit,
hmmm.model,
hmmm.model.X,
mphineq.fit,
recursive,
marg.list,
loglin.model,
hidden.emfit,
getnames
)
S3method(print,hmmmmod)
S3method(summary,hmmmmod)
S3method(print,hmmmfit)
S3method(summary,hmmmfit)
S3method(anova,hmmmfit)
S3method(anova,hidden)
S3method(print,hmmmchibar)
S3method(summary,hmmmchibar)
S3method(summary,hidden)
S3method(print,hidden)
S3method(print,mphfit)
S3method(summary,mphfit)